{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'assets/vendor/nucleo/css/nucleo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/argon.css' %}" type="text/css">

    <!-- JavaScript jQuery & DataTables -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/j    s/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

    <style>
        .table th {
            white-space: nowrap;
            text-transform: uppercase;
            font-size: 14px;
        }
        .table tbody tr:hover {
            background-color: #f5f5f5;
        }
        .table td img {
            max-width: 50px;
            height: auto;
            border-radius: 5px;
        }
        .btn-primary {
            font-size: 12px;
            padding: 5px 10px;
        }
    </style>
</head>
<body>
    <!-- SIDEBAR: Pindahkan kode sidebar ke sini -->
    <nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        {% include "_sidebar.html" %}
    </nav>

<div class="main-content" id="panel">
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar links -->
            <ul class="navbar-nav align-items-center ml-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" 
                     aria-haspopup="true" aria-expanded="false">
                    <div class="media align-items-center">
                      <span class="avatar avatar-sm rounded-circle">
                        <img alt="Image placeholder" src="{% static 'assets/img/theme/team-4.jpg' %}">
                      </span>
                      
                    </div>
                  </a>
                  <!-- Dropdown menu -->
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Welcome!</h6>
                  </div>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'logout' %}" class="dropdown-item">
                    <i class="ni ni-user-run"></i>
                    <span>Logout</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
    </nav>

        {% block content %}{% endblock %}
</div>

  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/js-cookie/js.cookie.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
  <!-- Optional JS -->
  <script src="{% static 'assets/vendor/list.js/dist/list.min.js' %}"></script>
  <!-- Argon JS -->
  <script src="{% static 'assets/js/argon.js' %}"></script>
  <!-- Demo JS - remove this in your project -->
  <script src="{% static 'assets/js/demo.min.js' %}"></script>

  <!-- Optional JS -->
  <script src="{% static 'assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>

  {% block scripts %}{% endblock %}
</body>
</html>
