<div class="position-sticky p-3">
    <h5>Menu</h5>
    <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="{% url 'cek_ranking' %}">Cek Ranking</a>
        </li>
        <hr>
        <li class="nav-item mb-2">
            <label>Sync Data MudahMY</label>
            <button class="btn btn-success w-100 mt-2" id="btnSyncMudahmy">Sync Mudahmy</button>
        </li>
        <li class="nav-item mb-2">
            <label>Sync Data CarlistMY</label>
            <button class="btn btn-success w-100 mt-2" id="btnSyncCarlist">Sync Carlist</button>
        </li>
        <hr>
        <li class="nav-item mt-2">
            <a class="nav-link text-danger" href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>
</div>